# Data Warehouse
WAREHOUSE_HOST=localhost
WAREHOUSE_PORT=5434
WAREHOUSE_DB=warehouse_db
WAREHOUSE_USER=admin
WAREHOUSE_PASSWORD=pass

# Prometheus
PROMETHEUS_URL=http://localhost:9090

# API Server
API_HOST=0.0.0.0
API_PORT=8000
